@charset "utf-8";
body, html, h1, h2, h3, h4, h5, h6{
	margin: 0px;
	padding: 0px;
}

/* Header & Nav */
#logo {
	display: block;
	margin: 0 auto;	/* Center Logo Image */
}

nav ul {
	list-style: none;
	text-align: center;
	padding: 10px 0px;
	background-color: #005794;
}

nav li {
	display: inline-block;
	border-right: 1px solid white;
}

nav li:last-child {
	border-right: none;
}

nav li a {
	color: white;
	font-size: 120%;
	text-decoration: none;
	padding: 1px 20px;
}

/* Artist Page */
#main {
	margin: 10px 75px;
}

#main h2, h3 {
	margin: 0px 0px 20px;
	padding: 5px 0px;
	border-bottom: 1px blue solid;
	
}
#artist-image-and-contact, #artist-information {
	float: left;
}

#artist-image-and-contact {
	height: 500px;
	width: 25%;
	border-right: 1px blue solid;
}

#artist-information {
	margin: 0px 20px;
	padding: 0px;
	width: 70%;
}