@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif');
/*
COLORS
Main Blue (Nav, Footer & Logo): #005794 
*/

/* INDIVDIUAL ARTIST PAGES */
#individual-artist #image-name-role, #individual-artist #about-the-artist {
	float: left;
	margin-top: 20px; margin-bottom: 40px;
}

#image-name-role {
	width: 320px;
}

#image-name-role h2 {
	font-family: "PT Serif", Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 200%;
	text-align: center;
	margin: 0;
}

#image-name-role h3 {
	font-family: "PT Sans", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 160%;
	text-align: center;
	margin: 0px;
}

#image-name-role img {
	margin: 10px 20px;
	box-shadow: 0 0px 2px 1px #ddd;
}

#about-the-artist {
	width: 960px;
	min-height: 600px;
	padding: 20px;
	background-color: aliceblue;
	box-shadow: 0 0px 2px 1px #ddd;
}

#about-the-artist h4.article-head {
	font-family: "PT Sans", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 160%;
	border-bottom: 1px solid grey;
}

#performances {
	margin-top: 40px;
}

#about-the-artist p {
	font-size: 120%;
	font-family: "PT Sans", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding: 10px;
}

#feat-artist h2 {
	font-size: 220%;
	text-align: center;
	font-family: 'PT Serif', Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	border-bottom: 1px solid #005794;
	margin-bottom: 20px;
}

#feat-artist .artist {
	display: block;
	margin: 0 auto;
	background-color: #005794;
	width: 760px;
	height: 225px;
	color: white;
}

#feat-artist .image {
	float: left;
}

#feat-artist .summary {
	float: left;
	font-size: 114%;
	font-family: "PT Sans", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	height: 170px;
	width: 452px;
	margin: 5px 10px 0px;
}

#feat-artist h3 {
	font-size: 150%;
	font-family: "PT Serif", Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	border-bottom: 1px solid white;
	margin: 10px 0px 5px;
}

#feat-artist .go-to-artist-btn {
	float: left;
	font-size: 110%;
	text-align: center;
	background-color: white;
	padding: 10px;
	height: 40px;
	width: 458px;
	margin: 0 10px;
}

.artist-section h2 {
	font-size: 220%;
	clear: both;
	text-align: center;
	font-family: 'PT Serif', Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	border-bottom: 1px solid #005794;
	margin-bottom: 20px; margin-top: 60px;
}

/* Other Artists */
#conductors {
	margin-bottom: 280px;
}

.artist-section .artist {
	display: block;
	float: left;
	margin: 10px 25px 40px;
	background-color: #005794;
	width: 592px;
	height: 200px;
	color: white;
}

.artist-section .image {
	float: left;
}

.artist-section .summary {
	float: left;
	font-size: 112%;
	font-family: "PT Sans", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	height: 155px;
	width: 360px;
	margin: 5px 10px 0px;
}

.artist-section h3 {
	font-size: 150%;
	font-family: "PT Serif", Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	border-bottom: 1px solid white;
	margin: 5px 0px 5px;
}

.artist-section .go-to-artist-btn {
	float: left;
	font-size: 105%;
	text-align: center;
	background-color: white;
	padding: 5px;
	height: 30px;
	width: 360px;
	margin: 0 10px;
}

/* PERFORMANCES */
.event {
	width: 900px;
	height: 180px;
	margin: 20px auto;
	background-color: #005794;
	color: white;
}

.event .title-location-date {
	float: left;
	width: 260px;
	height: 100%;
	padding-left: 30px; padding-top: 5px;
}

.event .date, .event .location {
	font-size: 115%;
}

.event h3.title {
	font-size: 140%;
	margin-bottom: 20px;
}

.event .artists {
	float: left;
	width: 360px;
	height: 80%;
	margin-top: 20px;
	text-align: center;
	border-left: 1px solid white; border-right: 1px solid white;
}

.event .artists ul {
	list-style: none;
}

.event .artists li {
	margin-top: 4px;
	padding-right: 45px;
	font-size: 115%;
}

.event .artists ul li a, event .artists ul li a:visited {
	color: white;
}

.event .buttons {
	float: left;
	width: 280px;
	height: 100%;
}

.event button {
	width: 240px;
	font-family: "PT Sans", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 105%;
	background-color: white;
	border: none;
	margin: 20px;
	height: 60px;
}

.event .bottombutton {
	margin: 0 20px;
}