@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif');
/*
COLORS
Main Blue (Nav, Footer & Logo): #005794 
*/
#upcoming-event h2, .past-events h2 {
	font-family: "PT Serif", Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	text-align: center;
	margin-top: 40px;
	border-bottom: 1px solid #005794;
}

.event a, .past-events a, .event a:visited, .past-events a:visited {
	color: white;
}

.event a:hover, .past-events a:hover {
	color: white;
	text-decoration: underline;
}

.event {
	width: 1210px;
	height: 200px;
	margin: 20px auto;
	background-color: #005794;
	color: white;
}

.event.even {
	background-color: #23c5b7;
}

.event .title-location-date {
	float: left;
	width: 320px;
	height: 100%;
	font-size: 160%;
	font-family: "PT Serif", Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	padding-left: 40px;
}

.event .conductor {
	float: left;
	width: 240px;
	height: 180px;
	border-left: 1px solid white;
	font-size: 120%;
	font-family: "PT Sans", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin: 10px 0 0;
	text-align: center;
}

.conductor img {
	margin-bottom: 5px;
}

.conductor h4, .artists h4 {
	font-size: 125%;
}

.artists ul {
	list-style: none;
	margin-left: -40px; margin-top: 20px;
}

.artists li {
	margin-bottom: 5px;
}

.event .artists {
	float: left;
	width: 240px;
	height: 180px;
	border-left: 1px solid white; border-right: 1px solid white;
	font-size: 120%;
	font-family: "PT Sans", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin: 10px 0 0;
	text-align: center;
}

.event .buttons {
	float: left;
	width: 410px;
	height: 100%;
}

.buttons button {
	margin: 20px;
	width: 366px;
	height: 70px;
	color: #005794;
	font-size: 120%;
	font-family: "PT Sans", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: white;
	border: 0px;
}

.buttons .bottombutton {
	margin: 0 20px;
}

.buttons a, .buttons a:visited {
	color: #005794;
}

.buttons a:hover {
	color: #027EE1;
}

.buttons img {
	margin: 0 20px;
}

/* INDIVIDUAL EVENT PAGES */
#concert #overview {
	float: left;
	width: 75%;	
	font-size: 110%;
}

#concert h2 {
	font-family: "PT Serif", Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 220%;
	text-align: center;
	border-bottom: 1px solid #005794;
}

#program, #orchestra-members {
	width: 80%;
	margin: 0 auto;
}

#program {
	text-align: center;
}

#program ul {
	list-style: none;
	margin-left: -50px; /* Re-align lis */
}

#program .program-section {
	margin-top: 20px; margin-bottom: 40px;
}

#conductor p {
	text-align: center;
	font-size: 120%;
}

#conductor, #special-guests {
	float: left;
	width: 382px;
	margin-bottom: 40px;
}

#conductor {
	margin-left: 96px;
	margin-right: 10px;
}

#special-guests ul {
	list-style: none;
	text-align: center;
	font-size: 105%;
	margin-left: -35px;
}

#overview h3 {
	font-family: "PT Serif", Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size:180%;
	text-align: center;
	border-bottom: 1px solid #005794;
}

#concert-info-side {
	float: left;
	right: 50px;
	width: 20%;
}

#concert-info-side h3 {
	font-size: 160%;
	font-family: "PT Serif", Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	margin-top: 26px;
	border-bottom: 1px solid #005794;
	text-align: center;
}

#concert-info-side ul {
	list-style: none;
	font-size: 120%;
	text-align: center;
	margin-left: -40px;
}

#concert-info-side section {
	margin-bottom: 40px;
}


#orchestra-members {
	clear: both;
	margin-bottom: 60px;
}

#orchestra-members ul {
	font-size: 105%;
	margin-bottom: 40px;	
	text-align: center;
	list-style: none;
	margin-left: -45px;
}

#orchestra-members ul li {
	margin-bottom: 15px;
}