@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif');
/*
COLORS
Main Blue (Nav, Footer & Logo): #005794 
*/

/* GENERAL STYLING */
body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	min-width: 1366px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Serif', Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}

li, p {
	font-family: 'PT Sans', Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

table td {
	font-family: 'PT Sans', Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

#header-img {
	display: block;
	margin: 10px auto;
}

#main-content {
	display: block;
	width: 1284px;
	margin: 0 auto;
	margin-top: 15px;
}

/* GENERAL CLASSES */
.remove-link-lines, .remove-link-lines:visted {
	text-decoration: none;
}

.remove-link-lines:hover, .remove-link-lines:active, .remove-link-lines:focus {
	text-decoration: none;
}

.emphasis {
	font-weight: bold;
}

.center-list {
	margin: 0 auto;
	width: 85%;
}

.center-list li {
	margin-bottom: 10px;
	text-align: left;
}
/* Sticky Footer */
#wrapper {
	min-height: 100%;
	margin: 0 auto -300px;
}

footer, .push {
	height: 315px;
}

/* DROPDOWN */
.primary-menu li {
	position: relative;
}

.primary-menu li ul.dropdown {
	width: 280px;
	display: none;
	position: absolute;
	border: 1px solid black;
	box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.42);
	z-index: 15;
}

ul.dropdown li a {
	padding: 10px;
	text-align: center;
}
.primary-menu li:hover ul.dropdown {
	display: block; /* Display the dropdown whent he li is hovered */
}

.primary-menu li ul.dropdown li{
	display: block;
}

#footer-nav .primary-menu li ul.dropdown {
	top: -105px;
}
/* NAV */
#main-nav li {
	font-size: 18px;
}

.nav ul {
	text-align: center;
	font-size: 0;	/* Removes the gap between li's from tab/new line in HTML */
	list-style: none;
	background-color: #005794;
	padding: 10px 0px;
}

.nav li {
	font-size: 16px;
	font-family: "PT Serif";
	display: inline-block;
	border-right: 1px solid white;
}

.nav li:last-child {	
	border-right: none; /* Remove the border from the last nav element */
}

.nav a, .nav a:visited {
	display: block;
	padding: 5px 15px 5px 16px;
	color: white;
	text-decoration: none;
}

.nav a:hover, .nav a:active, .nav a:focus {
	background-color: white;
	color: #005794;
	text-decoration: none;
}

nav#breadcrumb ul {
	list-style: none;
	text-align: center;
	padding: 8px 0;
	margin: -10px 0 10px;
	font-family: "PT Sans", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: #23c5b7;
	font-size: 17px;
}

nav#breadcrumb li, nav#breadcrumb li a {
	display: inline-block;
	color: white;
}

nav#breadcrumb li:first-child {
	margin-left: 50px;
}

nav#breadcrumb li+li:before {
	padding: 8px;
	content: "/\00a0";
}

nav#breadcrumb li a {
}

/* Footer */
footer {
	background-color: #005794;
	padding: 15px 0px;
	min-width: 1080px; /* Unsure about this */
	clear: both;
}

.footerline {
	border-top: 2px solid white;
	width: 95%;
	margin: 0 auto;
}

.footer-title {
	text-align: center;
	color: white;
	font-size: 120%;
}

#nav-title {
	margin-top: 20px;
}

#copyright-info {
	color: white;
	text-align: center;
}

/* Sponsors Slider */
.container {
	margin-top: 5px;
	min-width: 1080px; /* This might be a problem later keep an eye on it */
}

.sponsors {
	width: 85%;
	min-width: 799px;
	float: right;
	background-color: white;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: 150px;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}