@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif');
/*
COLORS
Main Blue (Nav, Footer & Logo): #005794 
*/

#main-content h2 {
	text-align: center;
	border-bottom: 1px solid #005794;
	font-family: "PT Serif", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

form {
	font-family: "PT Sans", Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}

/* SUPPORT US PAGE */
aside {
	width: 45%;
	clear: both;
	margin: 0 auto;
	font-size: 120%;
	text-align: center;
	
}
.support-option-div {
	float: left;
	width: 385px;
	height: 390px;
	font-size: 120%;
	text-align: center;
}

.support-option-div h3 {
	border-bottom: 1px solid #005794;
	margin-bottom: 15px;
}

#benefactors {
	margin: 0 64px;
}

#membership p, #player p{
	width: 75%;
	margin: 0 auto;
}

#membership li {
	list-style: none;
	margin-left: -40px;
}

#membership .form-btns {
	margin-top: 46px;
}

#player {
	margin-bottom: 65px;
}

#benefactors .form-btns {
	margin-top: 49px;
}

.form-btns {
	margin-top: 40px;
}

.form-btn {
	display: block;
	width: 80%;
	height: 40px;
	margin: 10px auto;
	font-size: 90%;
	border: none;
	background-color: #005794;
	color: white;
}

.top-btn {
	margin-top: 20px;
}

/* FEE Styles */
#fees {
	text-align: center;
}

#fees ul {
	list-style: none;
	font-size: 120%;
}

#fees li {
	display: inline-block;
	padding: 0 20px;
}

/* MEMBER FORM STYLES */

form fieldset {
	margin-top: 30px; margin-bottom: 5px;
}

form label {
	margin-top: 5px;
	font-size: 130%;
}

input[type="text"], input[type="email"], input[type="date"], input[type="tel"], input[type="number"], select {
	width: 100%;
	padding: 12px 20px;
	margin: 5px 0 20px;
	display: inline-block;
	border: 2px solid #9A9A9A; border-radius: 4px; box-sizing: border-box;
	background-color: #f2f2f2;
	outline: none;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="tel"]:focus {
	border-color: #23c5b7;
}

input[type="submit"] {
	width: 100%;
	background-color: #66a3ff;
	padding: 14px;
	margin: 8px 0 40px;
	border: none; border-radius: 4px;
	cursor: pointer;
	font-size: 120%;
	outline: none;
}

input[type="submit"]:hover {
	background-color: #b3d1ff;
}

textarea {
	width: 100%;
	max-width: 100%;
	padding: 12px 20px;
	margin: 5px 0 20px;
	display: inline-block;
	border: 2px solid #9A9A9A; border-radius: 4px; box-sizing: border-box;
	background-color: #f2f2f2;
}

label.childNames {
	width: 160px;
}

label.childDOBs {
	width: 50px;
	margin-left: 30px;
}

input.childNames {
	width: 561px;
}

input.childDOBs {
	width: 466px;
}

#membership-form input[type="radio"] {
	margin-left: 40px; margin-bottom: 15px;
}

form .subhead {
	font-size: 160%;
	font-weight: bold;
	font-family: "PT Sans", Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}

.radioLabel {
	font-size: 125%;
}

#membershipInfo {
	text-align: center;
}